version: 2

chem:
  fp_option:
    type: morgan
    morgan_radius: 2
    morgan_n_bits: 256
  rxn_matrix: data/processed/split/matrix_train.pkl
  fpindex: data/processed/all/fpindex.pkl

data:
  init_stack_weighted_ratio: 0.90

model:
  encoder_type: graph
  encoder:
    num_atom_classes: 100
    num_bond_classes: 10
    hidden_dim: 512
    num_layers: 10
    attention_head_dim: 64
    edge_feature_dim: 128
    num_attention_heads: 8
    use_relative_position: false
    apply_output_norm: false
  
  decoder:
    hidden_size: 512
    num_heads: 8
    ffn_size: 2048
    num_layers: 10
    max_position: 32
    apply_output_norm: false
    block_feature_dim: ${chem.fp_option.morgan_n_bits}
    projection_hidden: 256
    num_templates: 100

  step_classifier:
    hidden_dim: 512
  
  template_classifier:
    num_templates: 100
    hidden_dim: 512
  
  building_block_retriever:
    embedding_dim: 512
    num_out_fingerprints: 4
    fingerprint_dim: ${chem.fp_option.morgan_n_bits}
    dim_hidden: 512
    warmup_prob: 0.01
  
  T: 5
  
  segment_length: 4

train:
  loss_weights:
    step_type: 1.0    
    template: 1.0     
    fingerprint: 0.5 
    planner: 0.0
  
  max_iterations: 500_000
  validation_frequency: 5000
  gradient_clip_value: 100.0
  
  optimizer:
    type: adamw
    lr: 1.0e-4
    weight_decay: 0.0
    beta1: 0.9
    beta2: 0.999

  scheduler:
    type: plateau
    factor: 0.6
    patience: 5
    min_lr: 1.e-5